body{
  text-align:center;
  background-image: url(riskback2.jpg);
  /*Used the following link for the overflow property:
  https://stackoverflow.com/questions/21563672/google-chrome-vertical-scroll-bars-mysteriously-appear-and-disappear
  because my browser kept popping the scroll bar in and out and changing the dimensions of the page.
  */
  overflow:hidden;
}
h1{
  font-size: 60px;
  border-radius: 30px;
  color:rgb(220, 220, 226);
  font-family: 'Dancing Script', cursive;
}

.territory{
  display:inline-block;
  margin-top:0px;
  margin-bottom:5px;
  width:30%;
  height:100px;
  background-color: lightgray;
  /*Used this site to learn how to center text vertically inside the paragraph: https://stackoverflow.com/questions/11051951/how-do-i-vertically-align-text-in-a-paragraph*/
  line-height:100px;
}
#promptP{
  display:block;
  background-color:white;
  margin: 10px auto;
}
#r1separate,#r2separate{
  display:block;
}
#mainp{
  display:inline-block;
  padding:2%;
  background-image: url(riskback3.jpg);
  background-repeat: no-repeat;
  background-size:100% 100%;
  width:28%;
  height:390px;
  text-align:center;
  border-radius: 30px;
  margin: auto 5%;
}
#promptP{
  background-image: url(riskback3.jpg);
  color:rgb(250,250,250);
  font-size:25px;
  text-transform: uppercase;
}
#controls{
  display:inline-block;
  width:25%;
  float:left;
  background-image: url(riskback3.jpg);
  border-radius: 30px;
  margin-left:3%;
}
#data{
  display:inline-block;
  width:25%;
  text-align:center;
  background-image: url(riskback3.jpg);
  border-radius: 30px;
  float:right;
  margin-right:3%;
  height:430px;
}
#data p{
  display:block;
  width:80%;
  text-align: left;
  color:lightgray;
  font-size: 25px;
  margin:5% auto;
  font-family: 'Shadows Into Light', cursive;
}
button{
  display:block;
  margin:10% auto;
  width: 60%;
  font-size:35px;
  height:93px;
  border-radius:20px;
  background-color:rgb(220, 220, 226);
  font-family: 'Black And White Picture', sans-serif;
  color:rgb(20,20,20);
}
a{
  text-decoration:none;
  color:rgb(20,20,20);
}
h2{
  display:block;
  text-align:center;
  color:lightgray;
  font-size: 30px;
  width:80%;
  margin:5% auto 0% auto;
  margin-bottom:0%;
  font-family: 'Shadows Into Light', cursive;
}
footer{
  background-color:gray;
  font-size:20px;
  padding:10px;
  margin-top:3.5%;
}
button:hover{
  background-color:rgb(203, 203, 216);
}
#homeLink{
  font-size:20px;
  display:block;
  height:50px;
}
